.carta{
	width: 300px;
	margin: auto;
}

#titulo,#contenido{
	border-style: solid;
	border-color: black;
	border-width: 2.5px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	text-align: justify-all;
}

#titulo{
	font-size: 120%;
	background-color: rgb(221, 87, 46);
	border-radius: 10px;
	position: relative;
	top: 20px;
}

#contenido{
	font-size: 85%;
	background-color: rgb(247, 158, 57);
	border-radius: 15px;
	line-height: 0;
	padding-bottom: 20px;
}

#img{
	width: 70%;
	height: auto;
	margin: 20px;
}
